
.App-header {
  background-color: #57384d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: rgb(4, 179, 147);
}

.Hummingbird {
  height: 60vmin;
  pointer-events: none;
}
.container {
  background-color: #57384d;
  width: 100%;
  height: 100%;  
}
